# Environments
.environment
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Django stuff
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media



# IDE specific files
.idea/
.vscode/
*.swp
*.swo 

# Render specific
.render/ db.sqlite3
